  <a ref="#"><%= comment.commenter %>:</a>
  <p class="bg-success"><%= comment.body %></p>

  <%= link_to '删除评论', [comment.article, comment],
               method: :delete,
               data: { confirm: '确定删除评论?' } %><br>