<form action="https://ucaser-wangpeng246300.c9users.io/">
<input type=text name=word>
<input type="submit" value="搜索">
<input name=tn type=hidden value="bds">
<input name=cl type=hidden value="3">
<input name=ct type=hidden value="2097152">
<input name=si type=hidden value="https://ucaser-wangpeng246300.c9users.io/">
</form> 