<!DOCTYPE html>
<html>
<head>
    <h1>中国科学院大学论坛UCASER!</h1>
</head>
<body>
    <h2>
      <p>本论坛主要只限于讨论研究和学习问题、组织健康的体育和娱乐活动、分享资料等，请勿发布广告和非法言论!</p>
    </h2>
    <%= link_to '发帖内容', controller: 'articles' %>
    <a href="../login/login.html" >登陆</a>
</body>
</html>